:root {
  --light: #f0f0f0;
  --medium: #cacaca;
  --dark: #292929;
  --eletric: #f6e652;
  --eletric-dark: #f6bd20; 
  --fire: #ee8329;
  --fire-dark: #e64110;
  --water: #8bc5cd;
  --water-dark: #297383;
  --grass: #73ac31;
  --grass-dark: #413931;
}